/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 


 */
/* line 18, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
/* line 26, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#banner img {
  float: left;
}

/* line 31, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/* line 40, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns {
  background: #141;
}
/* line 43, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #main {
  margin-right: 19em;
  margin-left: 19em;
  padding: 1em;
  background: white;
}
/* line 51, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #side {
  float: left;
  padding: 1em 2em;
  width: 15em;
  background: #141;
}
/* line 57, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #side form, #columns #side div {
  display: inline;
}
/* line 61, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #side input {
  font-size: small;
}
/* line 65, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #side #cart {
  font-size: smaller;
  color: white;
}
/* line 69, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #side #cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* line 76, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #side ul {
  padding: 0;
}
/* line 79, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #side ul li {
  list-style: none;
}
/* line 82, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #side ul li a {
  color: #bfb;
  font-size: small;
}
/* line 90, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #rightside {
  float: right;
  padding: 1em 2em;
  width: 15em;
  background: #141;
}
/* line 96, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #rightside form, #columns #rightside div {
  display: inline;
}
/* line 100, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #rightside input {
  font-size: small;
}
/* line 104, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #rightside #cart {
  font-size: smaller;
  color: white;
}
/* line 108, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #rightside #cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* line 115, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #rightside ul {
  padding: 0;
}
/* line 118, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #rightside ul li {
  list-style: none;
}
/* line 121, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
#columns #rightside ul li a {
  color: #bfb;
  font-size: small;
}

/* line 132, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
.depot_form fieldset {
  background: #efe;
}
/* line 135, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
.depot_form fieldset legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
/* line 144, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
.depot_form form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}
/* line 153, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
.depot_form form select, .depot_form form textarea, .depot_form form input {
  margin-left: 0.5em;
}
/* line 157, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
.depot_form form .submit {
  margin-left: 4em;
}
/* line 161, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
.depot_form form br {
  display: none;
}

/* line 167, D:/Code Ruby/DwN/app/assets/stylesheets/application.css */
.locale {
  float: right;
  margin: -0.25em 0.1em;
}
/* line 6, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands table {
  border-collapse: collapse;
}
/* line 10, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 15, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands .list_image {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 21, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands .list_description {
  width: 60%;
}
/* line 24, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands .list_description dl {
  margin: 0;
}
/* line 28, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}
/* line 34, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands .list_description dd {
  margin: 0;
}
/* line 39, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 45, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands .list_line_even {
  background: #e0f8f8;
}
/* line 49, D:/Code Ruby/DwN/app/assets/stylesheets/brands.scss */
.brands .list_line_odd {
  background: #f8b0f8;
}
/* START_HIGHLIGHT */
/* line 7, D:/Code Ruby/DwN/app/assets/stylesheets/carts.scss */
.carts .item_price, .carts .total_line, #side #cart .item_price, #side #cart .total_line {
  text-align: right;
}
/* line 10, D:/Code Ruby/DwN/app/assets/stylesheets/carts.scss */
.carts .total_line .total_cell, #side #cart .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

/* END_HIGHLIGHT */
/* line 6, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products table {
  border-collapse: collapse;
}
/* line 10, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 15, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products .list_image {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 21, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products .list_description {
  width: 60%;
}
/* line 24, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products .list_description dl {
  margin: 0;
}
/* line 28, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}
/* line 34, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products .list_description dd {
  margin: 0;
}
/* line 39, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 45, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products .list_line_even {
  background: #e0f8f8;
}
/* line 49, D:/Code Ruby/DwN/app/assets/stylesheets/products.scss */
.products .list_line_odd {
  background: #f8b0f8;
}
/* line 1, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, D:/Code Ruby/DwN/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* START_HIGHLIGHT */
/* line 7, D:/Code Ruby/DwN/app/assets/stylesheets/store.css.scss */
.store {
  /* An entry in the store catalog */
}
/* line 8, D:/Code Ruby/DwN/app/assets/stylesheets/store.css.scss */
.store h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}
/* line 17, D:/Code Ruby/DwN/app/assets/stylesheets/store.css.scss */
.store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 100px;
}
/* line 23, D:/Code Ruby/DwN/app/assets/stylesheets/store.css.scss */
.store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
}
/* line 30, D:/Code Ruby/DwN/app/assets/stylesheets/store.css.scss */
.store .entry h3 {
  font-size: 120%;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}
/* line 39, D:/Code Ruby/DwN/app/assets/stylesheets/store.css.scss */
.store .entry p, .store .entry div.price_line {
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
/* line 45, D:/Code Ruby/DwN/app/assets/stylesheets/store.css.scss */
.store .entry .price {
  color: #44a;
  font-weight: bold;
  margin-right: 3em;
}

/* END_HIGHLIGHT */
