<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Home</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/products">Products</a></li>
        <% if session[:cart_id] %>
				  <li><%= link_to 'Cart', cart_url(session[:cart_id]) %></li>
        <% end %>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<% if session[:user_id] %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="active"><a href="/products">Products</a></li>
						<li><a href="/orders">Orders</a></li>
		          		<li><%= link_to 'Logout', logout_url, method: :delete %></li>
					</ul>
				</li>
				<% else %>
					<li> <%= link_to 'Login', login_url %> </li>
				<% end %>
				
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>