// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #cart {
	margin-left: 30px;
	float: left;
  .item_price, .total_line {
    text-align: right;
  }
  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
  }
  form, div {
  	display: inline;
  }
}

.cart {
  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #f2f2f2;
  }

  .list_line_odd {
    background:   #d9d9d9;
  }
}