// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rightside img {
  width: 100px;
  height: 100px;
  margin-left: 110px;
  margin-top: 5px;
  position: absolute;
}




table {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

